html, body {    
    background-color: #FCFAFB;
}

.login-form {
    width: 420px;
    margin: 100px auto;
}

.about_div {
    border: 1px solid black;
    background-color: rgb(234, 234, 234);
    text-align: center;
}

.about_div1 {
    border: 1px solid black;
    background-color: rgb(234, 234, 234);
    
}